@font-face {
  font-family: "AlbertSans-Medium";
  src: url("../assets/fonts/Albert_Sans/static/AlbertSans-Medium.ttf");
}
@font-face {
  font-family: "AlbertSans-Light";
  src: url("../assets/fonts/Albert_Sans/static/AlbertSans-Light.ttf");
}
@font-face {
  font-family: "Adieu Light";
  src: url("/src/assets/fonts/Adieu-Light.ttf");
}

.AlbertSans-Medium {
  font-family: "AlbertSans-Medium";
}
.AlbertSans-Light {
  font-family: "AlbertSans-Light";
}
.AdieuLight {
  font-family: "Adieu Light";
}
.custom-text {
  color: white;
  opacity: 0.5;
  font-size: 11px;
}
.font-11 {
  font-size: 11px;
}
.event-filter {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  min-width: 200px;
  min-height: 50px;
  max-height: 250px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  padding: 20px;
  z-index: 999999;
  top: 60px;
}
.event-filter p {
  font-size: 13px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.triangle {
  position: absolute;
  top: 50px;
  left: 50%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1) transparent transparent;
  transform: rotate(180deg);
}
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  /* display: none; */
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.4);
}
.expire-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* VIEW EVENT */

.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#pauseButton {
  display: none;
}
.view-more-event-img {
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(3px) brightness(90%);
}
.scrollContainer {
  overflow-y: scroll !important;
  height: 100% !important;
}
.event-details {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.event-question:first-child {
  color: white !important;
  opacity: 0.5 !important;
}

.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(255, 255, 255, 0.2);
}
.decrease {
  font-size: 15px;
  color: white;
}

.ticket-event-number {
  margin: 0 auto;
  font-size: 16px;
}

.tickets-event-details {
  flex: 1;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}
/* CART */
.event-date {
  opacity: 0.6;
}
.second-ticket-conteriner,
.card-intro {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.bigContainer {
  overflow-y: scroll;
}
.bigContainer::-webkit-scrollbar {
  display: none;
}
.checkout-container {
  overflow-y: scroll;
}
.checkout-container::-webkit-scrollbar {
  display: none;
}

.total-ticket-price > div {
  border-top: 1px solid #01de9b;
}
.pay-ticket-card {
  background-image: linear-gradient(to right, #01de9b, #aa21ed);
  border: none;
  border-radius: 0px 10px 10px 0px;
}
.total-price {
  background-image: linear-gradient(
    to right,
    rgba(1, 222, 155, 0.3),
    #ffffff00
  );
  border-top: #ffffff33 solid 1px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
}
.billing-details {
  background-image: linear-gradient(to right, #ffffff4a, #ffffff00);
}
.pay-button-checkout {
  background-image: linear-gradient(
    to right,
    rgba(1, 222, 155, 0.3),
    rgba(1, 222, 155, 0),
    rgba(1, 222, 155, 0.3)
  );
}
select#general-admission option {
  background-color: black !important;
}
.tickets-view-cart {
  background-image: linear-gradient(to right, #01de9b, #aa21ed);
}
#playButton {
  background: url("/src/assets/Group\ 102.png");
  background-repeat: no-repeat;
}

/* MODAL */
.gallerySlider {
  overflow: hidden !important;
  backdrop-filter: blur(30px);
  margin-right: 9rem;
  border-radius: 1.5rem;
  height: 70vh;
  display: none;
}
.event-main-img {
  max-height: 350px;
  max-width: 350px;
}
.event-main-img-others {
  max-width: 96px;
  max-height: 84px;
}
.mobile-place-event {
  display: none;
}

.btn-event-ended {
  /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), black); */

  background-image: linear-gradient(
    65deg,
    rgba(255, 255, 255, 0.2) 0%,
    black 35%
  );
}

@media only screen and (min-width: 1280px) {
  .containerGradient {
    background: linear-gradient(270deg, #ffffff0c 20%, #00000000 100%);
  }
}

@media only screen and (max-width: 768px) {
  .view-event-page {
    overflow-y: scroll !important;
  }
  .event-gallery .event-main-img,
  .view-more-event-img {
    max-width: 70px !important;
    max-height: 70px !important;
  }
  .scrollContainer {
    overflow-y: visible !important;
  }
  /* .scrollContainer::-webkit-scrollbar {
        display: none !important;
    } */
  .event-main-img {
    max-height: 300px;
    max-width: 300px;
  }
  .event-main-img-others {
    max-width: 70px;
    max-height: 70px;
  }
  .socials-event {
    display: none;
  }
  .place-event {
    display: none;
  }
  .mobile-place-event {
    display: flex;
  }
  .event-banner {
    display: none;
  }
  .view-event-page::-webkit-scrollbar {
    display: none !important;
  }
  .play-icon {
    width: 50px;
  }
  .gallerySlider {
    margin-right: 2.5rem;
    height: 80vh;
  }
  .click-swipe {
    display: none;
  }
}
